biopython
esm @ git+https://github.com/Biohub/esm.git@main
torch
datasets
transformers
numpy
evaluate
pandas
torchmetrics
torchtune
torchao
nglview
kinase-library
lightning
peft
streamlit
matplotlib
scikit-learn
plotly
tensorboard
torchvision